<section class="container-fluid" id="section1">
  	<h1 class="text-center v-center"><img class="img-responsive" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/c0.39.851.315/p851x315/10931608_874026299316041_6430482799605183476_o.jpg"/></h1>
  	<div class="container">
      <div class="row">
          <blockquote>
              <p><em><strong>Why So Serious?</strong></em></p>
              <small>The Dark Knight <cite title="Source Title">Joker</cite></small>
          </blockquote>
      </div><!--/row-->
    <div class="row"><br></div>
  </div><!--/container-->
</section>
{% include eventlist.html %}
{% include productlist.html %}
{% include social.html %}
