{% if site.categories['event']  %}
{% capture lang_url %}{% translate global.lang_url %}{% endcapture %}
<section class="container" id="EventList">
    <h1 class="text-center text-warning">{% translate titles.event %}</h1>
    <ul class="media-list">
        {% for post in site.categories['event'] limit: 2 %}
        <li class="media">
            {% if post.image %}
            <div class="media-left">
                <div class="thumbnail">
                    <img src="{{ post.image }}" alt="{{ post.title }}" titlle="{{ post.title }}">
                </div>
            </div>
            {% endif %}
            <div class="media-body">
                <h3 class="media-heading">{{ post.title }}</h3>
                <p>{{ post.description }}</p>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <strong>{% translate global.time %}</strong>
                        <div>
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ post.start_date | date: '%F %r' }} - {{ post.end_date | date: '%F %r' }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <strong>{% translate global.address %}</strong>
                        <div>
                            <address><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ post.location }}</address>
                        </div>
                    </div>
                </div>
                <a href="{{ lang_url }}{{ post.url }}" role="button" class="btn btn-info">{% translate global.event_link %}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="row text-center">
        <a href="{{ lang_url }}/event/" class="btn btn-info rowbtn" >{% translate global.all %}</a>
    </div>
</section>
{% endif %}