{% if site.categories['product']  %}
{% capture lang_url %}{% translate global.lang_url %}{% endcapture %}
<section class="container" id="ProductList">
    <h1 class="text-center text-warning">Hot Products</h1>
    <ul class="grid cs-style-3">
    {% for post in site.categories['product'] limit: 6 %}
        <li>
            <figure>
                {% if post.image %}
                <img src="{{ post.image | asset_path }}" alt="{{ post.title }}">
                {% endif %}
                <figcaption>
                    <h4 class="text-info">{{ post.title }}</h4>
                    <span>{{ post.description }}</span>
                    <a href="{{ lang_url }}{{ post.url }}">{% translate global.product_link %}</a>
                </figcaption>
            </figure>
        </li>
    {% endfor %}
    </ul>
    <div class="row text-center">
        <a href="{{ lang_url }}/product/" class="btn btn-info rowbtn" >{% translate global.all %}</a>
    </div>
</section>
{% endif %}